* {
	margin: 0;
	padding: 0;
	outline: none;
	overflow-x: hidden;
}

#main {
	height: 100vh;
	width:100vw;
	background: #222;
	color: #fff;
	font-size: 20px;
	font-family: 'Verdana', serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.paragraph {
	padding: 10px 0px 10px 0px;
	text-align: center;
}

button {
	outline: none;
	border: none;
	background-color: #007bff;
	color: #fff;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
	transition: all .3s linear;
	margin-top: 100px;
}

#logo_image {
	animation-name: rotate_animation;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-duration: 3s;
	animation-timing-function: linear;
	user-select: none;
}

@keyframes rotate_animation {
	100% {
		transform: rotate(360deg);
	}
}

button:hover {
	color: #222;
	background-color: #fff;
}

.grid {
	display: flex;
	flex-direction: column;
	min-width: 50vw;
}

.row {
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	margin: 10px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	user-select: none;
	cursor: pointer;
	transition: all .3s linear;
}

.break {
	flex-basis: 100%;
}

.col:hover {
	background-color: #222 !important;
}

.half {
	flex-basis: 50%;
}
